<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimentando o robô</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <a href="mover.html">Controle do Robô</a>
    </div>

    <h1>Logs do Backend</h1>
    <div id="log-container" hx-get="/get-logs">wqedwde</div>

    <!-- Atualizar logs -->
    <button hx-get="#log-container" hx-trigger="click" hx-swap="outerHTML" hx-target="#log-container">Atualizar Logs</button>
</body>
</html>