<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle do Robô</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header>
        <nav>
        <div id="titulo">
        <h2 class="navlist"> Robô Controlado por HTMX</h2>
        <a class="navlist" href="/logs">Logs</a>
    </div>
        <div class="navlist" hx-get="/conexao" hx-trigger="load"></div>
    </nav>
    </header>
    <div id="conteudo">
    <h1>Controle do Robô</h1>

    <div id="opcoes" hx-get="/robot-move" hx-trigger="load"></div>
    
    <div id="resultado"></div>

<!-- botão para mover o robô para posição inicial-->
    
</div>
</body>
</html>